$pink1:#F9ECF1;
$pink2:#F9CBDB;
$pink3:#F2A6C2;
$purple1:#BE9BCA;
$purple2:#A27FAD;
$purple3:#8B6896;
$teal:#A6F2D6;
$yellow:#E8F2A6;
$orange:#F2D6A6;
$blue:#A6E8F2;

$text-d:#F5E0FD;
$subtext-d:#d5aee5;
$text-l:#584251;
$subtext-l:#97617a;